* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    margin-top: 2vh;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    margin-bottom: 10%;
}

#navigation_bar {
    width: 100%;
    background-color: rgb(25, 186, 192);
    position: fixed;
    top: 0px;
    right: 0px;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.myimage {
    background-image: url(Image/Kiptoo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh;
    width: 98%;
    background-attachment: fixed;
}

.myimage>p {
    font-size: 28px;
    font-style: italic;
    font-family: sans-serif;
    padding: 10px 20px 0px 20px;
    bottom: 0px;
    float: right;
    margin-top: 20vh;
    margin-right: 10px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(235, 235, 235);
}

.myimage>p:hover {
    font-size: 28px;
    font-style: italic;
    font-family: sans-serif;
    padding: 10px 20px 0px 20px;
    bottom: 0px;
    color: black;
    background-color: rgb(25, 186, 192);
    position: relative;
    float: right;
    margin-top: 100px;
    margin-right: 10px;
    border-radius: 20px 20px 0px 0px;
}

a {
    color: blue;
}

.myimage>p>a:hover {
    color: white;
}

.myimage>h1 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    padding-top: 7%;
    font-size: 55px;
    color: darkblue;
    font-weight: 700;
    padding-left: 25px;
}

#navigation_bar>li>a {
    font-size: 30px;
    text-decoration: none;
}

#navigation_bar>li {
    list-style: none;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

#navigation_bar>li:first-child {
    padding-right: 5vw;
}

#navigation_bar>li>.current {
    color: white;
}

#navigation_bar>li:hover {
    text-decoration: underline;
}

body {
    background-color: rgb(235, 235, 235);
    margin: 25px;
}

h3 {
    margin-left: 10px;
    font-weight: 500;
    color: darkblue;
    font-size: 23px;
    text-decoration: underline darkblue;
}

.details_container {
    height: auto;
    background-color: rgb(25, 186, 192);
    width: 45vh;
    float: left;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px;
    padding: 10px;
    margin-top: 15vh;
    margin-left: 5px;
    padding-bottom: 4vh;
}

.details_container p {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    line-height: 34px;
}

.details_container>p span {
    color: brown;
    font-weight: 500;
}

.details_container>h4 {
    padding: 13px;
    font-weight: 600;
    font-size: 18px;
}

.details_container>ul, ol {
    line-height: 40px;
    font-size: 18px;
    padding-left: 50px;
}

.header {
    font-size: 35px;
    font-weight: 700;
    text-decoration: underline;
    margin-left: 54vw;
    padding-top: 5vh;
    margin-bottom: 5vh;
}

.project_container {
    width: 35%;
    height: 50%;
    background-color: white;
    margin: 20px;
    float: right;
    border: 1px solid rgba(25, 186, 192, 0.829);
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow: 10px 10px 5px 0px rgba(96, 136, 96, 0.555);
    margin: 20px;
    margin-bottom: 10vh;
    padding: 20px;
}

.project_container>div {
    columns: 2;
    padding: 20px;
    column-rule: 1px solid rgba(25, 186, 192, 0.829);
}

.project_container>img {
    padding: 15px;
    float: left;
}

.project_container>p {
    font-size: 21px;
    padding-left: 12px;
    padding-right: 12px;
}

.project_container>div>p>span {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
}

.project_container>div>p {
    font-size: 22px;
    padding: 12px;
}

.project_container>h3 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: darkblue;
}

.project_container>h4 {
    text-align: center;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.project_container>div>ul, ol {
    font-size: 19px;
}

.project_container>div>ul>li {
    list-style: circle;
}

.project_container>div>ol>li {
    list-style: lower-roman;
}

#footer {
    width: 100%;
    background-color: rgb(25, 186, 192);
    position: fixed;
    bottom: 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 0px;
}

#footer>p {
    padding-left: 5px;
}

#footer>img {
    height: 40px;
    width: 40px;
    padding-left: 5px;
}

.feedback-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feedback-container>img {
    float: left;
    height: 250px;
    width: 250px;
    padding: 5%;
}

.contact>p>img {
    height: 20px;
    width: 20px;
    float: left;
    padding-top: 4px;
}

.contact_container {
    padding-top: 10%;
    clear: both;
}

.contact {
    width: 80%;
    padding: 10px;
    border: 1px solid green;
    border-radius: 10px;
    font-size: 17px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px;
}

.contact>p {
    width: 90%;
    margin: 20px;
    height: 30px;
    border-radius: 20px;
    font-size: 18px;
    padding: 5px 0px 5px 20px;
    border: 0px;
    background-color: lightgray;
}

.contact>p>input {
    border: 0px;
    background-color: lightgray;
    padding-top: 7px;
    width: 90%;
    margin-left: 5px;
}

.contact>button {
    background-color: blue;
    border: 0px transparent;
    width: 30%;
    border-radius: 20px;
    float: right;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.contact>button:hover {
    background-color: green;
    border: 0px;
    width: 30%;
    border-radius: 20px;
    float: right;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0px transparent;
}

.contact_header {
    margin-top: 5%;
    color: black;
}

.contact>textarea {
    width: 90%;
    border: 0px;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
    margin: 0px 0px 10px 20px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}

.radio_button {
    padding: 10px;
    font-size: 17px;
}

.radio_button, input, label {
    line-height: 20px;
}

.radio_button>div {
    margin-bottom: 10px;
}

.person {
    margin: 10px;
}

h5 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.social_images>a>img {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.social_images {
    margin-left: 43%;
    margin-top: 0px;
    margin-bottom: 4%;
}

.unordered_list>p>a>img {
    height: 25px;
    width: 30px;
}

@media screen and (min-width:480px) and (max-width: 680px) {
    body {
        overflow-x: unset;
    }
    .myimage>h1 {
        font-size: 40px;
        margin-top: 3%;
        padding-top: 25%;
        padding-bottom: 12%;
        color: darkblue;
    }
    .myimage {
        background-image: url(Image/Face.jpg);
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin-left: 3%;
    }
    .details_container {
        margin-left: 5%;
        width: 80vw;
        overflow-y: unset;
        height: auto;
        position: relative;
        margin-top: 0vh;
        margin-bottom: 10%;
    }
    .project_container {
        width: 80%;
        float: none;
        margin: auto;
        height: auto;
    }
    .details_container {
        margin-left: 8%;
        width: 80vw;
        overflow-y: unset;
        height: auto;
        margin-top: 1vh;
    }
    .project_container>h3 {
        font-size: 16px;
    }
    .project_container>p, .project_container>div>p, ul>li, ol>li {
        font-size: 18px;
    }
    .project_container>img {
        height: 18vh;
        width: 63vw;
    }
    #navigation_bar {
        width: 90%;
        background-color: rgb(25, 186, 192);
        position: fixed;
        top: 0px;
        text-decoration: none;
        padding-right: 30px;
        border-bottom: 2px solid white;
    }
    #navigation_bar>li>a {
        font-size: 20px;
        text-decoration: none;
    }
    .header {
        text-align: left;
        margin-bottom: 0px;
        float: left;
        margin-left: 35%;
    }
    .myimage>p {
        font-size: 19px;
        font-style: italic;
        font-family: sans-serif;
        padding: 10px 20px 0px 20px;
        float: right;
        margin-top: 2vh;
        margin-right: 10px;
        border-radius: 20px 20px 0px 0px;
        background-color: rgb(235, 235, 235);
    }
    .contact {
        width: 80%;
        padding: 10px;
        border: 1px solid green;
        border-radius: 10px;
        font-size: 17px;
        background-color: white;
        box-shadow: 0px 0px 10px 0px;
    }
    .contact>p>input {
        border: 0px;
        background-color: lightgray;
        padding-top: 5px;
        width: 80%;
        margin-left: 0px;
    }
    .message_picture {
        height: 10%;
        width: 10%;
    }
    .feedback-container {
        width: 100%;
    }
    .feedback-container>img {
        width: 20%;
        height: 20%;
        padding: 10px;
    }
    .social_images {
        margin-left: 35%;
        margin-bottom: 10%;
    }
    .social_images>a>img {
        height: 50px;
        width: 50px;
    }
}

@media screen and (min-width: 1450px) and (max-width: 1750px) {
    .project_container {
        width: 33%;
        height: auto;
    }
    .myimage>p {
        margin-top: 15vh;
    }
    .details_container {
        width: 25%;
        height: auto;
        clear: right;
        margin-top: 9vh;
        float: left;
    }
    .contact {
        width: 50%;
        padding: 10px;
        border: 1px solid green;
        border-radius: 10px;
        font-size: 17px;
        background-color: white;
        box-shadow: 0px 0px 10px 0px;
    }
    .contact>p>input {
        border: 0px;
        background-color: lightgray;
        padding-top: 7px;
        width: 90%;
        margin-left: 0px;
    }
    .message_picture {
        height: 15%;
        width: 15%;
    }
    .feedback-container {
        width: 80%;
    }
    .feedback-container>img {
        width: 20%;
        height: 20%;
    }
    .feedback-container>img {
        width: 230px;
        height: 230px;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1450px) {
    .project_container {
        width: 50%;
        height: auto;
    }
    .details_container {
        width: 40%;
        height: auto;
        clear: both;
        margin-top: 9vh;
        float: left;
    }
    .myimage>h1 {
        font-size: 40px;
    }
    .myimage>p {
        font-size: 20px;
        font-style: italic;
        font-family: sans-serif;
        padding: 10px 20px 0px 20px;
        bottom: 0px;
        float: right;
        margin-top: 6vh;
        margin-right: 10px;
        border-radius: 20px 20px 0px 0px;
        background-color: rgb(235, 235, 235);
    }
    .contact {
        width: 50%;
        padding: 10px;
        border: 1px solid green;
        border-radius: 10px;
        font-size: 17px;
        background-color: white;
        box-shadow: 0px 0px 10px 0px;
    }
    .contact>p>input {
        border: 0px;
        background-color: lightgray;
        padding-top: 7px;
        width: 90%;
        margin-left: 0px;
    }
    .message_picture {
        height: 15%;
        width: 15%;
    }
    .feedback-container {
        width: 100%;
    }
    .feedback-container>img {
        width: 20%;
        height: 20%;
    }
}

@media screen and (min-width: 680px) and (max-width: 1080px) {
    body {
        overflow-x: unset;
    }
    .myimage>h1 {
        font-size: 35px;
    }
    .myimage>p {
        font-size: 20px;
        font-style: italic;
        font-family: sans-serif;
        padding: 10px 20px 0px 20px;
        bottom: 0px;
        float: right;
        margin-top: 5vh;
        margin-right: 10px;
        border-radius: 20px 20px 0px 0px;
        background-color: rgb(235, 235, 235);
    }
    .details_container {
        position: relative;
        width: 65vw;
        margin-left: 10%;
        overflow-y: unset;
        height: auto;
        margin-top: 3vh;
    }
    #navigation_bar {
        width: 90%;
        background-color: rgba(25, 186, 192, 0.829);
        position: fixed;
        top: 0px;
        text-decoration: none;
        padding-right: 30px;
        border-bottom: 2px solid white;
    }
    #navigation_bar>li>a {
        font-size: 20px;
        text-decoration: none;
    }
    .details_container>img {
        height: 15vh;
        width: 48vw;
    }
    .header {
        float: none;
    }
    .project_container {
        width: 43%;
        height: auto;
        overflow-y: unset;
    }
    .project_container>p, .project_container>div>p, ul>li, ol>li {
        font-size: 16px;
    }
    .project_container>img {
        height: 10vh;
        width: auto;
    }
    .contact {
        width: 50%;
        padding: 10px;
        border: 1px solid green;
        border-radius: 10px;
        font-size: 17px;
        background-color: white;
        box-shadow: 0px 0px 10px 0px;
    }
    .contact>p>input {
        border: 0px;
        background-color: lightgray;
        padding-top: 7px;
        width: 90%;
        margin-left: 0px;
    }
    .message_picture {
        height: 15%;
        width: 15%;
    }
    .feedback-container {
        width: 100%;
    }
    .feedback-container>img {
        width: 20%;
        height: 20%;
    }
}

@media screen and (max-width: 480px) {
    .myimage>h1 {
        font-size: 40px;
        padding-top: 30%;
        padding-bottom: 30%;
        color: black;
    }
    .myimage {
        background-image: url(Image/Face1.png);
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin-left: 3%;
    }
    .details_container {
        margin-left: 5%;
        width: 80vw;
        overflow-y: unset;
        height: auto;
        position: relative;
        margin-top: 0vh;
        margin-bottom: 10%;
    }
    .details_container>h3 {
        font-size: 17px;
    }
    .details_container>p {
        font-size: 14px;
    }
    #navigation_bar {
        width: 90%;
        background-color: rgb(25, 186, 192);
        position: fixed;
        top: 0px;
        text-decoration: none;
        padding-right: 30px;
        border-bottom: 2px solid white;
    }
    #navigation_bar>li>a {
        font-size: 15px;
        text-decoration: none;
    }
    .header {
        margin-left: 37%;
        font-size: 23px;
    }
    .myimage>p {
        font-size: 15px;
        font-style: italic;
        font-family: sans-serif;
        padding: 5px 10px 0px 20px;
        float: right;
        margin-top: 1px;
        margin-right: 10px;
        border-radius: 20px 20px 0px 0px;
        background-color: rgb(235, 235, 235);
    }
    .project_container {
        width: 80vw;
        height: auto;
        overflow-y: unset;
    }
    .project_container>h3 {
        font-size: 16px;
    }
    .project_container>p, .project_container>div>p, ul>li, ol>li {
        font-size: 14px;
    }
    .project_container>img {
        height: 18vh;
        width: 60vw;
    }
    #footer>p {
        font-size: 13px;
    }
    #footer>img {
        height: 10px;
        width: 10px;
    }
    .contact {
        width: 90%;
        padding: 5%;
        border: 1px solid green;
        border-radius: 5px;
        font-size: 13px;
        background-color: white;
        box-shadow: 0px 0px 10px 0px;
    }
    .contact_container>h2 {
        font-size: 20px;
    }
    .contact>p {
        width: 90%;
    }
    .contact>p>input {
        border: 0px;
        background-color: lightgray;
        padding-top: 7px;
        width: 80%;
    }
    .message_picture {
        height: 10%;
        width: 10%;
    }
    .feedback-container {
        width: 100%;
    }
    .feedback-container>img {
        width: 20%;
        height: 20%;
    }
    .social_images {
        margin-left: 30%;
        margin-bottom: 10%;
    }
    .social_images>a>img {
        height: 40px;
        width: 40px;
    }
}